@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row">

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="http://127.0.0.1/android/php/photos/images/Asal20Choy55.png" alt="Alternate texts" />
            <h4 class="texts">Salat</h4>

            <div style="display:flex">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/salat2.jpg alt="Alternate texts" />
            <h4 class="texts">salat</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>

        </div>
        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/salat3.jpg" alt="Alternate texts" />

            <h4 class="texts">salat</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/salat4.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni4</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>
        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/limonchoy.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni5</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/ccole.jpg" alt="Alternate texts" />
            <h4 class="texts"> Tantuni6</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/choy.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni7</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/limonchoy.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni8</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/fanta.jpg" alt="Alternate texts" />
            <h4 class="texts"> Tantuni9</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/free.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni10</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni11</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/shurma2.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni12</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

    </div>
</div>