@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row">

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni.jpg" alt="Alternate texts"  />
            <h4 class="texts">Тантуни</h4>
         
            <div style="display:flex" >
                <button class="knopka">-</button>
                <button class ="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Alternate texts"  />
            <h4 class="texts">Тантуни 2</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>

        </div>
        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni3.jpg" alt="Alternate texts"  />

            <h4 class="texts">Тантуни</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni.jpg" alt="Alternate texts"  />
            <h4 class="texts">Тантуни</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>
        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Alternate texts"  />
            <h4 class="texts">Тантуни</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni3.jpg" alt="Alternate texts"     />
            <h4 class="texts"> Tantuni6</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni.jpg" alt="Alternate texts"  />
            <h4 class="texts">Tantuni7</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Alternate texts"  />
            <h4 class="texts">Tantuni8</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni3.jpg" alt="Alternate texts"  />
            <h4 class="texts"> Tantuni9</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/shurma2.jpg" alt="Alternate texts"  />
            <h4 class="texts">Tantuni10</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Alternate texts"  />
            <h4 class="texts">Tantuni11</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/shurma2.jpg" alt="Alternate texts" />
            <h4 class="texts">Tantuni12</h4>
            <div style="display:flex;"><button class="knopka">-</button><button class="knopka">+</button></div>

        </div>

    </div>
</div>
