@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row">

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/ccole.jpg" alt="Coca-Cola" />
            <h4 class="texts">Coca-Cola</h4>
            <div style="display:flex">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/fanta.jpg" alt="Fanta" />
            <h4 class="texts">Fanta</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/rs.jpg" alt="Red Smoke" />
            <h4 class="texts">Red Smoke</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/choy.jpg" alt="Чёрный чай" />
            <h4 class="texts">Чёрный чай</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/limonchoy.jpg" alt="Лимонный чай" />
            <h4 class="texts">Лимонный чай</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/ccole.jpg" alt="Coca-Cola" />
            <h4 class="texts">Coca-Cola</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/choy.jpg" alt="Чёрный чай" />
            <h4 class="texts">Чёрный чай</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/limonchoy.jpg" alt="Лимонный чай" />
            <h4 class="texts">Лимонный чай</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/fanta.jpg" alt="Fanta" />
            <h4 class="texts">Fanta</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/free.jpg" alt="Free Tea" />
            <h4 class="texts">Free Tea</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/tantuni2.jpg" alt="Тантуни" />
            <h4 class="texts">Тантуни</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4 food-info">
            <img class="images" src="~/image/shurma2.jpg" alt="Шаурма" />
            <h4 class="texts">Шаурма</h4>
            <div style="display:flex;">
                <button class="knopka">-</button>
                <button class="knopka">+</button>
            </div>
        </div>

    </div>
</div>
